NODE_ENV=development
PORT=4000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ledgerly?schema=public"
ACCESS_TOKEN_SECRET="change-this-to-a-long-random-secret"
REFRESH_TOKEN_SECRET="schange-this-to-a-long-random-secret"